@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/raleway-regular.woff2") format("woff2"),
    url("../src/fonts/raleway-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/Inter-Regular.woff2") format("woff2"),
    url("../src/fonts/Inter-Regular.woff") format ("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/noto-serif-tc/noto-serif-tc-400.woff2") format("woff2"),
    url("../src/fonts/noto-serif-tc/noto-serif-tc-400.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/noto-sans-tc/noto-sans-tc-400.woff2") format("woff2"),
    url("../src/fonts/noto-sans-tc/noto-sans-tc-400.woff") format("woff");
}

/* bold */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../src/fonts/raleway-bold.woff2") format("woff2"),
    url("../src/fonts/raleway-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../src/fonts/Inter-Bold.woff2") format("woff2"),
    url("../src/fonts/Inter-Bold.woff") format ("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  src: url("../src/fonts/noto-serif-tc/noto-serif-tc-700.woff2") format("woff2"),
    url("../src/fonts/noto-serif-tc/noto-serif-tc-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  src: url("../src/fonts/noto-sans-tc/noto-sans-tc-700.woff2") format("woff2"),
    url("../src/fonts/noto-sans-tc/noto-sans-tc-700.woff") format("woff");
}

:root {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

.diagonal {
  z-index: 20;
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background-image: linear-gradient(to bottom, #d69bd2 0%, #8865a9 100%);
  position: absolute;
  inset: 0;
  transform: skewY(-5deg);
  z-index: -1;
}

.diagonal-hero {
  z-index: 20;
  position: relative;
  isolation: isolate;
}

.diagonal-hero::after {
  content: "";
  background-image: linear-gradient(to bottom, #8865a9 0%, #d69bd2 100%);
  position: absolute;
  inset: 0;
  transform: skewY(-5deg);
  z-index: -1;
}

.diagonal-hero-white {
  z-index: 20;
  position: relative;
  isolation: isolate;
  margin-left: -45px;
  margin-bottom: -45px;
}

.diagonal-hero-white::after {
  content: "";
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  position: absolute;
  inset: 0;
  transform: skewY(-5deg);
  z-index: -1;
}

.hero-bkg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-bkg picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.circle {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.circle:hover {
  -webkit-box-shadow: 0px 0px 3px 5px rgb(255, 254, 175),
    0px 0px 20px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(255, 254, 175),
    0px 0px 20px 5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px 5px rgba(255, 254, 175),
    0px 0px 20px 5px rgba(255, 255, 255, 1);
}

.circle:active {
  background-color: rgb(218, 165, 31);
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c300;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  margin-right: 5px;
}

.advantages-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.advantages-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.center {
  margin: 0 auto;
}
